*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}

html {
  scroll-behavior: smooth; 
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  color: blanchedalmond;
}
/* .background {
    width: 1440px;
   height: 910px;
   left: 0px;
   top: 0px;  
   
} */
.header {
  background-image: url(/rsschool-cv/portfolio/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 127px;
  position: relative;
}

.logo{
    background-image: url(/rsschool-cv/portfolio/assets/svg/logo.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 20px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0 20px;
  line-height: 40px;
}

a, a:visited{
    color: #fff;
    text-decoration: none;
}


a:hover{
    text-decoration: none;
    color: #bdae82;
    
}
 
.nav-list {
  list-style: none;
}

.hero {
  background: url(/rsschool-cv/portfolio/assets/img/bg.jpg);
  background-position: center -127px;
  background-repeat: no-repeat;
  height: 783px;
  position: relative;
}

.hero-content{
    position: absolute;
    color: #fff;
    height: 354px;
    width: 352px;
    top: 226px;
    left: 228px;
}

.hero-button{
    height: 55px;
    width: 155px;
    background-color: #bdae82;
    text-align: center;
    
}

.skills{
    height: 482px;
    width: 1440px;
    background-color: blue;
}
.portfolio{
    height: 1500px;
    width: 1440px;
    background-color: blueviolet;
}
.video{
    height: 945px;
    width: 1440px;
    background-color: burlywood;
}
.price{
    height: 845px;
    width: 1440px;
    background-color: chartreuse;
}

.contacts{
    height: 700px;
    width: 1440px;
    background-color: crimson;
}
.main{
    display: flex;
    flex-direction: column;
}