* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

html {
  scroll-behavior: smooth;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  color: blanchedalmond;
}
/* .background {
    width: 1440px;
   height: 910px;
   left: 0px;
   top: 0px;  
   
} */
.header {
  background-image: url(/rsschool-cv/portfolio/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 127px;
  position: relative;
}

.logo {
  background-image: url(/rsschool-cv/portfolio/assets/svg/logo.svg);
  position: absolute;
  width: 50px;
  height: 50px;
  left: 60px;
  top: 20px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 0 20px;
  line-height: 40px;
}
/* стиль кнопки после посещения  */
a,
a:visited {
  color: #fff;
  text-decoration: none;
}

/* стиль кнопки при наведении  */
a:hover {
  text-decoration: none;
  color: #bdae82;
}

.nav-list {
  list-style: none;
}

.hero {
  background: url(/rsschool-cv/portfolio/assets/img/bg.jpg);
  background-position: center -127px;
  background-repeat: no-repeat;
  height: 783px;
  position: relative;
}

.hero-content {
  position: absolute;
  color: #fff;
  height: 354px;
  width: 352px;
  top: 226px;
  left: 228px;
}

.h1 {
  width: 352px;
  height: 120px;
  font-size: 60px;
  line-height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  /* нужно изменить шрифт */
}

.hero-button {
  height: 55px;
  width: 155px;
  background-color: #bdae82;
  text-align: center;
  size: 20px;
  line-height: 40px;
  left: 0%;
  right: 0%;
  margin-top: 2px;
}

.text-button {
}
.skills {
  height: 482px;
  width: 1440px;
  background-color: black;
}
.portfolio {
  height: 1500px;
  width: 1440px;
  background-color: black;
}
.video {
  height: 945px;
  width: 1440px;
  background-color: black;
}
.price {
  height: 845px;
  width: 1440px;
  background-color: black;
}

.contacts {
  height: 700px;
  width: 1440px;
  background-color: crimson;
}
.main {
  display: flex;
  flex-direction: column;
}
.hero-text {
  /* font-family: ; */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* height: 160px; */
  top: 130px;
  left: 0%;
  right: 6%;
}

.skills {
  /* position: relative; */
}
.section-title {
  height: 80px;
  width: 700px;
  margin-left: 370px;
  margin-right: 370px;
  margin-top: 100px;

  /* background-color: red; */

  text-align: center;
  /* фон сплошной линией */
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.span {
  width: 130px;
  height: 80px;
  position: absolute;
  margin-left: 294px;
  margin-top: 8px;
  background-color: black;
  font-size: 50px;
}

.span2 {
  width: 220px;
  height: 80px;
  position: absolute;
  margin-left: 249px;
  margin-top: 8px;
  background-color: black;
  font-size: 50px;
}
.span3 {
  width: 160px;
  /* height: 80px; */
  position: absolute;
  margin-left: 293px;
  padding-top: 8px;
  background-color: black;
  font-size: 50px;
}
/* #portfolio{


  width: 130px;
  height: 80px;
  position: absolute;
  margin-left: 294px;
  margin-top: 8px;
  background-color: black;
  font-size: 50px;

} */
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-item {
  width: 320px;
  height: 240px;
  left: 0%;
  top: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.skill-photo .skill-video{
 text-align: center; 
}


.skill-description{
  font-size: 18px;
  line-height: 36px;
  padding-top: 20px;
}
.skill-text{

  width: 280px;
  padding-left: 20px;
}


.seasons{
  /* width: 895px; */
  height: 55px;
  top: 240px;
  left: 272px;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 60px;

}

.season{
  width: 220px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  
  /* background-color: red; */
  /* border-color: white; */

  border: 2px solid #bdae82;
  background-color: black;
  /* color: black; */
  /* padding: 14px 28px; */
  /* font-size: 16px; */
  cursor: pointer;
  

/*   
  border-color: solid #bdae82; */
    color: #bdae82;



}
.season:hover{
 background-color: #bdae82;
 color: black;
}

.portfolio-items{
  justify-content: center;
  display: flex;
  gap: 25px;
  padding-top: 60px;
  
  /* display: inline-block; */
  flex-wrap: wrap;
}

.player{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;

}

.play{
  position: absolute;
}